.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 940px;
  width: 100%;
}

.spaces-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.space-item {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 2;
}

.left-arrow {
  left: -40px;
}

.right-arrow {
  right: -40px;
}

@media (max-width: 768px) {
  .spaces-slider {
    flex-direction: column;
  }
}
