.newCwsContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background-image: url('../back2-pic.jpg');
  background-size: cover;
  background-position: right center;
}

.newCwsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 181, 41, 0.8);
}

.newCwsTitle {
  width: 80%;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.formContainer {
  width: 40%;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 40px;
}

.formField {
  width: 95%;
  margin-bottom: 6px;
  padding: 5px;
}

.newSpaceBtn {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  background-color: greenyellow;
  color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.newSpaceBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (min-width: 769px) {
  .newCwsContainer {
    width: 80%;
    padding: 0;
  }
}
