.newCwsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../back2-pic.jpg');
  background-size: cover;
  background-position: right center;
}

.newCwsOverlay {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 181, 41, 0.8);
}

.newCwsTitle {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
}

.formContainer {
  max-width: 500px;
  margin: auto;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 20px;
}

.formField,
.formField input[type="text"],
.formField input[type="number"],
.formField input[type="email"],
.formField textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formField textarea {
  resize: none;
  height: 150px;
}

.formField input[type="text"],
.formField input[type="number"],
.formField input[type="email"] {
  height: 40px;
}

.newSpaceBtn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: greenyellow;
  color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.newSpaceBtn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .newCwsTitle {
    font-size: 2.5rem;
  }

  .formContainer {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .formContainer {
    width: 50%;
  }
}
