.sidebar h1 {
  position: relative;
  top: 60px;
  left: 20px;
  transform: rotate(-5deg);
  font-size: 24px;
  color: #333;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.sidebar ul li button {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-inline: 0;
  width: 100%;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li button:hover,
.sidebar ul li button:focus {
  background-color: #24cc2c;
  color: #fff;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sidebar {
  display: none;
  width: 80%;
  background-color: #f4f4f4;
  transition: width 0.5s ease;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
}

.icon {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url('../../../public/assets/mobile-menu/menu-icon.svg');
  background-size: cover;
  padding: 0;
  z-index: 100;
}

.closeIcon {
  background-image: url('../../../public/assets/mobile-menu/close-icon.svg');
}

.active {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  z-index: 100;
}

.main-content-area {
  position: relative;
  flex-grow: 1;
  width: 80%;
  overflow-x: hidden;
}

@media screen and (max-width: 769px) {
  .sidebar h1 {
    position: relative;
    top: 0%;
    left: 18px;
    transform: none;
    font-size: 22px;
  }

  .sidebar ul li button {
    font-size: 22px;
    text-decoration: underline;
  }

  .sidebar {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.active {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.98);
  }

  .icon,
  .closeIcon {
    transition: transform 0.3s ease-in-out;
  }

  .closeIcon {
    transform: rotate(180deg);
  }

  .sidebar ul li button:hover,
  .sidebar ul li button:focus {
    background-color: #24cc2c;
    color: #fff;
    border-radius: 5px;
  }

  .sidebar ul {
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .sidebar.active ul {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  .sidebar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    border-right: 1px solid  rgba(110, 110, 110, 0.2);
  }

  .sidebar h1 {
    top: -5%;
    left: 10px;
    font-size: 85%;
  }

  .sidebar ul li button {
    font-size: 14px;
  }

  .icon {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sidebar h1 {
    top: -5%;
    left: 10px;
    font-size: 113%;
  }

  .sidebar ul li button {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .sidebar h1 {
    top: -8%;
    left: 10px;
    font-size: 160%;
  }

  .sidebar ul li button {
    font-size: 20px;
  }
}
