.sidebar h1 {
  position: absolute;
  top: 80px;
  left: 10px;
  transform: rotate(-10deg);
  font-size: 8px;
}

.sidebar ul li button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-align: start;
  padding: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-inline: 20px;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li button:hover {
  background-color: #97bf0f;
  cursor: pointer;
  padding: 5px;
}

.sidebar {
  display: none;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url('../menu-icon-w.svg');
  background-size: cover;
  padding: 0;
}

.closeIcon {
  background-image: url('../close-icon.svg');
}

.active {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.main-content-area {
  position: relative;
  flex-grow: 1;
  width: 80%;
  overflow-x: hidden;
}

@media screen and (min-width: 769px) {
  .sidebar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    border-right: 1px solid  rgba(110, 110, 110, 0.2);
  }

  .sidebar h1 {
    font-size: 13px;
  }

  .sidebar ul li button {
    font-size: 14px;
  }

  .icon {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .sidebar h1 {
    font-size: 19px;
  }

  .sidebar ul li button {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .sidebar h1 {
    font-size: 25px;
  }

  .sidebar ul li button {
    font-size: 20px;
  }
}
